*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 15px arial ;
    color: rgb(47, 46, 46);
    margin: 20px;
}

.title{
    border-bottom: 20px solid gray;
    padding: 20px;
    margin-bottom: 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: ;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: .8rem;
}
.menu li a{
    text-decoration: none;
    color: rgb(35, 34, 34);
}
.menu li a:hover{
    color: blueviolet;
}
.menu li .button{
    background-color: blueviolet;
    color: white;
    padding: .8rem;
    border-radius: 2px;
}
